@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["HomeIndex"];
</script>
<div class="jumbotron">
    <h1>Welcome to Bai de lang IBMS!</h1>
</div>
