@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["ModuleManager"];

    app.controller('moduleCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        // 获取系统模块数据列表
        getModuleInfos(params,true);

        function getModuleInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/modules",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getModuleInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getModuleInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 修正模块系统状态
        $scope.modifyModuleStatus = function (uuid, status) {
            var msg;
            if (!status) {
                msg = "确定要禁用该模块系统吗？";
            } else {
                msg = "确定要启用该模块系统吗？";
            }

            ShowConfirmModal(msg, function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/modules/status/" + uuid,
                    params: { "Status": status }
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("模块系统状态修改成功！");
                    getModuleInfos(params,false);
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>

<div ng-controller="moduleCtrl">
    <table class="table table-hover">
        <caption>
             <h2>系统模块管理</h2>
            <a href="~/module/add" class="btn btn-success" style="float:right;">添加</a>
        </caption>
        <thead>
            <tr>
                <th>UUID</th>
                <th>名称</th>
                <th>描述</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-cloak ng-repeat="item in Items">
                <td>{{item.UUID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Remark}}</td>
                <td ng-if="item.Status">
                    <a href="~/module/modify?uuid={{item.UUID}}" class="btn btn-warning">修改</a>
                    <button type="button" class="btn btn-danger" ng-click="modifyModuleStatus(item.UUID,false)">禁用</button>
                </td>
                <td ng-if="!item.Status">
                    <button type="button" class="btn btn-success" ng-click="modifyModuleStatus(item.UUID,true)">启用</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="width center">
        <div id="page4" class="m-pagination" style=" width:65%; margin-left:auto; margin-right:auto;"></div>
    </div>
</div>


    
