@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["SysSetting", "UserManager"];

    app.controller('userCtrl', function ($scope, $http) {
        // 获取系统模块数据列表
        getUsers();

        function getUsers() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/users"
            }).success(function (data, status, headers, config) {
                $scope.Items = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 修正用户状态
        $scope.modifyUserStatus = function (uuid, status) {
            var msg;
            if (!status) {
                msg = "确定要禁用该用户吗？";
            } else {
                msg = "确定要启用该用户吗？";
            }

            ShowConfirmModal(msg, function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/users/status/" + uuid,
                    params: { "Status": status }
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("用户状态修改成功！");
                    getUsers();
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>

<div ng-controller="userCtrl">
    <table class="table table-hover">
        <caption>
            <h2>用户管理</h2>
            <a href="~/user/add" class="btn btn-success" style="float:right;">添加</a>
        </caption>
        <thead>
            <tr>
                <th>UUID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>角色名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-cloak ng-repeat="item in Items">
                <td>{{item.UUID}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.Password}}</td>
                <td>{{item.RoleName}}</td>
                <td ng-if="item.Status">
                    <a href="~/user/modify?uuid={{item.UUID}}" class="btn btn-warning">修改</a>
                    <button type="button" class="btn btn-danger" ng-click="modifyUserStatus(item.UUID,false)">禁用</button>
                </td>
                <td ng-if="!item.Status">
                    <button type="button" class="btn btn-success" ng-click="modifyUserStatus(item.UUID,true)">启用</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



