
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>欢迎登陆</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnLogin").click(function () {
                var params = {
                    "UserName": $("#UserName").val(),
                    "Password": $("#Password").val()
                };
                $.ajax({
                    cache: false,
                    type: "get",
                    url: "../api/users/login",
                    xhrFields: {
                        withCredentials: true
                    },
                    data: params,
                    success: function (data, textStatus, jqXHR) {
                        if (textStatus == "success")
                            window.location.href = "../home/index";
                        else
                            ShowTipsModel("用户名或密码错误！");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        ShowTipsModel("用户名或密码错误！");
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h2>欢迎登录</h2>
        <form role="form">
            <div class="form-group">
                <label for="UserName">用户名：</label>
                <input type="text" class="form-control" id="UserName" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="Password">密码：</label>
                <input type="password" class="form-control" id="Password" placeholder="请输入密码">
            </div>
        </form>
        <button class="btn btn-default" id="btnLogin">登录</button>
        @*消息提示框*@
        <div class="modal fade" id="commontiperrModal">
            <div class="modal-dialog" style="width:400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="model-msg-title"><i class="fa fa-times-circle"></i><span style="margin-left: 2px;">错误提示</span></h4>
                    </div>
                    <div class="modal-body">
                        <p id="showerrTitle" style="font-size: 16px;"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="modelClose" style="height: 36px;"
                                data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
