<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.pagination.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery.pagination-1.2.7.min.js"></script>
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/init.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
    <title></title>
</head>
<body ng-app="app" ng-controller="layoutCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/home/index" id="HomeIndex">百德朗IBMS系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <!--向左对齐-->
                <ul class="nav navbar-nav navbar-left">
                    <li id="UserManager"><a href="~/user/list">用户管理</a></li>
                    <li id="RoleManager"><a href="~/role/list">角色管理</a></li>
                    <li id="LoginRecordManager"><a href="~/record/loginRecords">登录日志</a></li>
                    <li id="OperationRecordManager"><a href="~/record/operationRecords">操作日志</a></li>
                    <li id="ModuleManager"><a href="~/module/list">模块管理</a></li>
                    <li id="BuildingManager"><a href="~/building/list">建筑物管理</a></li>
                    <li id="AreaManager"><a href="~/area/list">区域管理</a></li>
                    <li id="PointManager"><a href="~/point/list">点位管理</a></li>
                    <li id="TrendManager"><a href="~/system/trend">趋势图分析</a></li>
                </ul>
                <!--向右对齐-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{UserSession.UserName}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="logout()">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:51px;">
        <div>
            <div id="moduleNav" class="col-md-1" style="background-color:#CCEEFF;min-height:600px;">
                <button type="button" class="btn btn-info btn-block btn-sm"
                        style="margin-top:20px;" ng-repeat="item in LayoutModules" ng-if="item.Status" ng-click="chkAccess(item.UUID)">
                    {{item.Name}}
                </button>
            </div>
            <div class="col-md-11">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 百德朗IBMS系统&nbsp;<a href="/elmah.axd">ELMAH error log</a></p>
        </footer>
        @*消息确认框*@
        <div class="modal fade" id="commontipConfirmModal">
            <div class="modal-dialog" style="width:400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <i class="fa fa-exclamation-triangle"></i><span style="margin-left: 2px;">警告</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="showConfirmTitle"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="height: 36px;"
                                data-dismiss="modal" id="cancelConfirmPop">
                            取消
                        </button>
                        <button type="button" class="btn  btn-primary" style="height: 36px;" id="confirmPop">确定</button>
                    </div>
                </div>
            </div>
        </div>
        @*消息提示框*@
        <div class="modal fade" id="commontiperrModal">
            <div class="modal-dialog" style="width:400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="model-msg-title"><i class="fa fa-times-circle"></i><span style="margin-left: 2px;">错误提示</span></h4>
                    </div>
                    <div class="modal-body">
                        <p id="showerrTitle" style="font-size: 16px;"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="modelClose" style="height: 36px;"
                                data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
