@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["SysSetting","SysSettingManager"];

    app.controller('sysSettingCtrl', function ($scope, $http) {
        getSysSetting();

        // 获取系统设置信息
        function getSysSetting() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/settings/system"
            }).success(function (data, status, headers, config) {
                $("#IsRefresh").prop("checked", data.IsRefresh);
                $("#IsDraggable").prop("checked", data.IsDraggable);
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 更改系统设置信息
        $scope.save = function () {
            var params = {
                "IsRefresh": $("#IsRefresh").is(':checked'),
                "IsDraggable": $("#IsDraggable").is(':checked')
            };
            $http({
                method: "put",
                withCredentials: true,
                url: "../api/settings/system",
                params: params
            }).success(function (data, status, headers, config) {
                ShowTipsModel("页面编辑功能更改成功！");
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };
    });
</script>
<div ng-controller="sysSettingCtrl">
    <h2>监控页面编辑</h2>
    <form role="form">
        <div class="checkbox">
            <label><input type="checkbox" id="IsRefresh"> 是否开启页面定时刷新功能</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="IsDraggable"> 是否开启页面拖动功能</label>
        </div>
    </form>
    <button class="btn btn-info" ng-click="save()">保存设置</button>
</div>