@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["AreaManager"];

    app.controller('areaCtrl', function ($scope, $http) {
        $scope.AreaName = "请选择父区域";
        $scope.BuildingName = "请选择楼房建筑";
        getAreas();
        getBuildings();

        // 获取所有区域
        function getAreas() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/areas"
            }).success(function (data, status, headers, config) {
                $scope.AreaItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 获取所有楼房建筑
        function getBuildings() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/buildings"
            }).success(function (data, status, headers, config) {
                $scope.BuildingItems = data.Items;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 添加区域
        $scope.add = function () {
            var params = {
                "BuildingID": $scope.BuildingID,
                "Name": $("#Name").val(),
                "Description": $("#Description").val(),
                "ParentID": $scope.ParentID,
                "Remark": $("#Remark").val()
            };
            $http({
                method: "post",
                withCredentials: true,
                url: "../api/areas",
                params: params
            }).success(function (data, status, headers, config) {
                if (status == 200)
                    window.location.href = "../area/list";
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        };

        // 选择楼房建筑
        $scope.selectBuilding = function (id, buildingName) {
            $scope.BuildingID = id;
            $scope.BuildingName = buildingName;
        }

        // 选择父区域
        $scope.selectArea = function (id, areaName) {
            $scope.ParentID = id;
            $scope.AreaName = areaName;
        }
    });
</script>
<div ng-controller="areaCtrl">
    <h2>添加区域</h2>
    <form role="form">
        <div class="form-group">
            <label>建筑物选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{BuildingName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in BuildingItems">
                            <a href="#" ng-click="selectBuilding(item.ID,item.Name)">{{item.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Name">区域名称</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="请输入区域名称！">
        </div>
        <div class="form-group">
            <label for="Description">区域描述</label>
            <textarea cols="30" rows="5" class="form-control" id="Description" name="Description" placeholder="请输入区域描述！"></textarea>
        </div>
        <div class="form-group">
            <label>父区域选择</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{AreaName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-cloak ng-repeat="item in AreaItems">
                            <a href="#" ng-click="selectArea(item.ID,item.Name)">{{item.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Remark">备注</label>
            <textarea cols="30" rows="5" class="form-control" id="Remark" name="Remark" placeholder="请输入备注！"></textarea>
        </div>
    </form>
    <button class="btn btn-primary" ng-click="add()">添加</button><br />
</div>
    
