@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    app.controller('roleCtrl', function ($scope, $http) {
        // 获取角色模块数据列表
        getInfos();

        function getInfos() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/roles"
            }).success(function (data, status, headers, config) {
                $scope.Items = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 删除角色
        $scope.delete = function (uuid) {
            ShowConfirmModal("确定删除该角色吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/roles/" + uuid
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("角色删除成功！");
                    getInfos();
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>

<div ng-controller="roleCtrl">
    <table class="table table-hover">
        <caption>
            <h2>角色管理</h2>
            <a href="~/role/add" class="btn btn-success" style="float:right;">添加</a>
        </caption>
        <thead>
            <tr>
                <th>UUID</th>
                <th>名称</th>
                <th>描述</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody ng-cloak ng-repeat="item in Items" ng-if="item.Status">
            <tr>
                <td>{{item.UUID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Remark}}</td>
                <td>
                    <a href="#" class="btn btn-warning">修改</a>
                    <a href="~/role/details?uuid={{item.UUID}}" class="btn btn-info">详情</a>
                    <button type="button" class="btn btn-danger" ng-click="delete(item.UUID)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


    
