@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<script type="text/javascript">
    // 角色控制器
    app.controller('roleCtrl', function ($scope, $http) {
        // 获取角色模块数据列表
        getInfos();

        function getInfos() {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/roles"
            }).success(function (data, status, headers, config) {
                $scope.Items = data;
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        // 修改角色状态
        $scope.modifyRoleStatus = function (uuid, status) {
            var msg;
            if (!status) {
                msg = "确定要禁用该角色吗？";
            } else {
                msg = "确定要启用该角色吗？";
            }

            ShowConfirmModal(msg, function () {
                $http({
                    method: "post",
                    withCredentials: true,
                    url: "../api/roles/status/" + uuid,
                    params: { "Status": status }
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("角色状态修改成功！");
                    getInfos();
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>

<div ng-controller="roleCtrl">
    <table class="table table-hover">
        <caption>
            <h2>角色管理</h2>
            <a href="~/role/add" class="btn btn-success" style="float:right;">添加</a>
        </caption>
        <thead>
            <tr>
                <th>UUID</th>
                <th>名称</th>
                <th>描述</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody ng-cloak ng-repeat="item in Items">
            <tr>
                <td>{{item.UUID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Remark}}</td>
                <td ng-if="item.Status">
                    <a href="~/role/modify?uuid={{item.UUID}}" class="btn btn-warning">修改</a>
                    <a href="~/role/details?uuid={{item.UUID}}" class="btn btn-info">详情</a>
                    <button type="button" class="btn btn-danger" ng-click="modifyRoleStatus(item.UUID,false)">禁用</button>
                </td>
                <td ng-if="!item.Status">
                    <a href="~/role/details?uuid={{item.UUID}}" class="btn btn-info">详情</a>
                    <button type="button" class="btn btn-success" ng-click="modifyRoleStatus(item.UUID,true)">启用</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>