@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["HomeIndex"];
    app.controller('emCtrl', function ($scope, $http) {
        // 检测该登录用户是否有访问当前模块系统的控制权限
        $scope.chkControlAccess = function () {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/users/access/" + getQueryString("UUID")
            }).success(function (data, status, headers, config) {
                $scope.Access = data;
                if (!$scope.Access.CanWrite) {
                    ShowModal(1, "你没有该系统的控制权限！");
                    return;
                }

                ShowTipsModel("恭喜你，你拥有该系统的控制权限！");
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }
    });
</script>
<div class="jumbotron" ng-controller="emCtrl">
    <h1>Welcome to EnergyMeter System!</h1>
    <button type="button" class="btn btn-primary" ng-click="chkControlAccess()">测试控制功能</button>
</div>
