@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var activeIndexs = ["BasicInfo", "BuildingManager"];

    app.controller('buildingCtrl', function ($scope, $http) {
        $scope.PageSize = 10;

        var params = {
            "PageIndex": 1,
            "PageSize": $scope.PageSize
        };

        getInfos(params, true);

        function getInfos(params, isFirstLoadPager) {
            $http({
                method: "get",
                withCredentials: true,
                url: "../api/buildings",
                params: params
            }).success(function (data, status, headers, config) {
                $scope.Items = data.Items;
                $scope.RecordCount = data.RecordCount;
                if (isFirstLoadPager) {
                    // 分页数据绑定
                    $("#page4").page('destroy');
                    $("#page4").page({
                        total: $scope.RecordCount,
                        pageSize: $scope.PageSize,
                        firstBtnText: '首页',
                        lastBtnText: '尾页',
                        prevBtnText: '上一页',
                        nextBtnText: '下一页',
                        showInfo: false,
                        showJump: true,
                        jumpBtnText: '跳转'
                    }).on("pageClicked", function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    }).on('jumpClicked', function (event, pageIndex) {
                        params.PageIndex = pageIndex + 1;
                        getInfos(params, false); // 重新绑定数据
                    });
                }
            }).error(function (data, status, headers, config) {
                ShowErrModal(data, status);
            });
        }

        $scope.delete = function (id) {
            ShowConfirmModal("确定要删除该楼房建筑吗？", function () {
                $http({
                    method: "delete",
                    withCredentials: true,
                    url: "../api/buildings/" + id
                }).success(function (data, status, headers, config) {
                    ShowTipsModel("楼房建筑删除成功！");
                    getInfos(params, false);
                }).error(function (data, status, headers, config) {
                    ShowErrModal(data, status);
                });
            });
        };
    });
</script>

<div ng-controller="buildingCtrl">
    <table class="table table-hover">
        <caption>
            <h2>楼房建筑管理</h2>
            <a href="~/building/add" class="btn btn-success" style="float:right;">添加</a>
        </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>描述</th>
                <th>楼层开始</th>
                <th>楼层结束</th>
                <th>时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-cloak ng-repeat="item in Items">
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.FloorStart}}</td>
                <td>{{item.FloorEnd}}</td>
                <td>{{item.CreateTime}}</td>
                <td>{{item.Remark}}</td>
                <td>
                    <a href="~/building/modify?id={{item.ID}}" class="btn btn-warning">修改</a>
                    <button type="button" class="btn btn-danger" ng-click="delete(item.ID)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="width center">
        <div id="page4" class="m-pagination" style=" width:65%; margin-left:auto; margin-right:auto;"></div>
    </div>
</div>


    
